<div fxLayout="row" >
	<div fxFlex="70">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<h3> <mat-icon mat-list-icon>mode_edit</mat-icon> Forgot Password  </h3>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>



				<form #forgotpassowrdForm="ngForm" (ngSubmit)="doVerify(forgotpassowrdForm)" method='POST'>
					<mat-form-field>
						<input type="text" name="email" matInput placeholder="E-mail" ngModel /> 
					</mat-form-field>
					<br>
					<mat-form-field>
						<input type="password" name="password" matInput placeholder="Password"  ngModel />
					</mat-form-field>
					<br>
					<div class="alert alert-success">Password successfully reset. Verify by your email account..  <a mat-raised-button color="primary" routerLink="../index">Verify</a>..  </div>
					
					<button  routerLink="../index" mat-button>Back</button>
					<input type="submit"  mat-raised-button value="Submit" /> 
							
				</form>
			</mat-card-content>
	    </mat-card>
	</div>
	<div fxFlex="30">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<h3> Contact Us <mat-icon>chat</mat-icon> </h3>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<mat-icon>mail</mat-icon> : ao_rr@sac.isro.gov.in <br />
				<br />  <mat-icon >call</mat-icon> : 079-26913020 / 21
			</mat-card-content>
	    </mat-card>
	</div>
</div>

