<div class="container"  style="background-color: #ededed">

<nav>
  <div class="nav-wrapper">
      <div style="font-size: larger; font-weight: bold; "><mat-icon>dashboard</mat-icon> {{ 'Dashboard' | translate }}</div>
  </div>
</nav>
<div>
  <div id="card-placement" >
    <div  fxFlex.xs="100" fxFlex.sm="100"  fxFlex.md="100" fxFlex.lg="100"  fxFlex.xl="100">
      <mat-card style="background-color: #f1f1f1">
        

        <div class="container" fxLayout.xs="column" fxLayout.sm="row" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" >
      <div  fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="70" fxFlex.lg="70"  fxFlex.xl="70">

        <div *ngFor="let advertisement of advertisements">  
            <span>
                {{ 'advertisementno' | translate }} : {{advertisement.advertisementno}} <br />
                {{ 'endingdate' | translate }} : {{advertisement.endingdate}} <br />
                Desctiption : {{advertisement.advertisementescription}} <br />
            </span>
            <mat-card *ngFor="let advtdetails of advertisement.advertisementdetails" class="mat-elevation-z3" style="padding: 0px">
                
                <div style="padding: 20px; font-weight: bold;">
                  <span *ngFor="let post of posts"> 
                    <span *ngIf="post.postcode == advtdetails.postcode">
                      <mat-icon>content_paste</mat-icon>{{post.postname}} 
                    </span>
                  </span>
                  <span *ngFor="let subject of subjects"> 
                    <span *ngIf="subject.subjectcode == advtdetails.subjectcode">
                       ( {{subject.subjectname}} )
                    </span>
                  </span>
                </div>
                <mat-divider></mat-divider>
              <mat-card-content style="padding: 20px; margin-bottom: 0px">
                <p mat-line>{{advtdetails.essentialqualification}} <br>
                </p>
              </mat-card-content>
              <mat-divider></mat-divider>
              <div class="container" fxLayout.xs="column" fxLayout.sm="row" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" style="background-color: #e9e9e9;">
              <div  fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="70" fxFlex.lg="70"  fxFlex.xl="70">
                <div align="start" style="padding: 20px">
                  Post Code : {{advtdetails.postcode}}, Subject Code : {{advtdetails.subjectcode}}
                </div>  
              </div>
              <div  fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30"  fxFlex.xl="30">
              <div align="end"  style="padding: 10px">

                <span *ngFor="let status of advtStatus">
                  <span *ngIf="(status.advertisementno ==  advertisement.advertisementno) && (status.postcode == advtdetails.postcode) && (status.subjectcode == advtdetails.subjectcode) && (status.status == 'applied')">
                   <a mat-raised-button [routerLink]="['/layout/preview',status._id]" > Edit <mat-icon>edit</mat-icon></a>
                  </span>
                  <span *ngIf="(status.advertisementno ==  advertisement.advertisementno) && (status.postcode == advtdetails.postcode) && (status.subjectcode == advtdetails.subjectcode) && (status.status == 'new')">
                   <a mat-raised-button [routerLink]="['/layout/personalinfo']" > Apply <mat-icon>touch_app</mat-icon> </a>
                  </span>
                </span>
                

                
              </div>
            </div>
          </div>
            </mat-card>
        </div>
      </div>
        

      <div  fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30"  fxFlex.xl="30" fxFlex="30">
    <!--application div starts here -->
        <mat-card var="applicantion" *ngFor="let application of applications" class="mat-elevation-z3">

          <mat-toolbar color="primary"  style="margin: -24px 0 24px -24px;width: calc(100% + 48px); font-size: medium;font-weight: bold;" >
            {{ 'application' | translate }} : #{{application.applicationno }}
          </mat-toolbar>
          <mat-card-content>

              {{ 'advertisementno' | translate }} : {{application.applicationno.substr(0,4) }} <br /> Post Code : {{application.applicationno.substr(4,2) }} <br /> Subject Code : {{application.applicationno.substr(6,2) }} <br /> <br />
              <div class="list-group">
                <div class="list-group-item"> 
                  <mat-icon mat-list-icon>account_circle</mat-icon> {{ 'personal' | translate }} 
                  <br>
                  <div >
                    <mat-progress-bar value="70" > 70 % complete
                    </mat-progress-bar>
                  </div>
                 
                </div> 
                <div class="list-group-item"> 
                  <mat-icon mat-list-icon>school</mat-icon> {{ 'educationalqualification' | translate }}  <br>
                  
                  <div >
                    <mat-progress-bar value="20" > 20 % complete
                    </mat-progress-bar>
                  </div>
                </div>
                <div class="list-group-item"> 
                  <mat-icon mat-list-icon>build</mat-icon> {{ 'experience' | translate }} 
                  
                 <div >
                    <mat-progress-bar value="40" > 50 % complete
                    </mat-progress-bar>
                  </div>
                </div>
                <!-- /.list-group -->
              </div>
              <br>
            
            
              
              <!-- /.panel-body -->



          </mat-card-content>
          <mat-divider></mat-divider>
            <mat-card-actions align="end">
              <div *ngIf="!application.islocked" >
                <a mat-raised-button color="accent" [routerLink]="['/layout/upload',application._id]" ><mat-icon>cloud_upload</mat-icon> Upload</a>
              </div>
              <a mat-raised-button color="accent" [routerLink]="['/layout/preview',application._id]" >
                <div *ngIf="!application.islocked" >
                  {{ 'edit' | translate }} <mat-icon>edit</mat-icon>
                </div>
                <div *ngIf="application.islocked" >
                  View <mat-icon>edit</mat-icon> 
                </div>
              </a>
              <div *ngIf="!application.islocked" >
                <a mat-raised-button color="accent" [routerLink]="['/layout/submit',application._id]" >
                    {{ 'submit' | translate }} <mat-icon>done</mat-icon>
                </a>
              </div>
            </mat-card-actions>
        </mat-card>
    <!--application div starts here -->

      </div>
    </div>
        <mat-card-footer *ngIf="processing==true"> 
          Loading...
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>

    </div>

  </div>
  
</div>


</div>